In [6]:
nama = "FahmI Hidayat"
umur = 20
print(f"Nama : {nama} \nUmur : {umur}")

Nama : FahmI Hidayat
Umur : 20

In [5]:
from math import pi

jari = 8
luas = pi *jari**2
keliling = 2*pi*jari
print(f"Luas Lingkaran : {luas} \nKeliling Lingkaran : {keliling}")

Luas Lingkaran : 201.06192982974676
Keliling Lingkaran : 50.26548245743669

In [4]:
a = "123"
print(f"Tipe Data a : {type(a)}")
a = int(a)
print(f"Tipe Data a : {type(a)}")

Tipe Data a : <class 'str'>
Tipe Data a : <class 'int'>